Checks: >
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-constraints
WarningsAsErrors: '*,-bugprone-exception-escape'
HeaderFilterRegex: '/home/igorqs/code/chess_projects/chesskit/include/.*'
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'yaml-cpp/.*'
