Checks: >
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-constraints
WarningsAsErrors: ''
HeaderFilterRegex: '/home/igorqs/code/chess_projects/chesskit/include/.*'
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'yaml-cpp/.*'
